<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wzc.chapter_2_provider">

    <permission
        android:name="com.wzc.chapter_2_provider.WRITE"
        android:protectionLevel="normal"/>

    <permission
        android:name="com.wzc.chapter_2_provider.READ"
        android:protectionLevel="normal"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.wzc.chapter_2_provider.BookProvider"
            android:authorities="com.wzc.chapter_2_provider.book.provider"
            android:exported="true"
            android:writePermission="com.wzc.chapter_2_provider.WRITE"
            android:readPermission="com.wzc.chapter_2_provider.READ"
            />
    </application>

</manifest>