<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wzc.chapter_5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Demo1Activity">
        </activity>
        <activity android:name=".Demo2Activity">
        </activity>
        <receiver android:name=".MyAppWidgetProvider">
            <intent-filter>
                <!--这个 action 是必须声明的-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wzc.chapter_5.click_action"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info"/>
        </receiver>
    </application>

</manifest>