<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzc.chapter_3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".velocitytracker_gesturedetector_scroller.VelocityTrackerActivity"
            android:label="VelocityTrackerActivity" />
        <activity
            android:name=".velocitytracker_gesturedetector_scroller.GestureDetectorActivity"
            android:label="GestureDetectorActivity" />
        <activity
            android:name=".velocitytracker_gesturedetector_scroller.ScrollerActivity"
            android:label="ScrollerActivity" />

        <activity
            android:name=".velocitytracker_gesturedetector_scroller.MarqueeTextViewActivity"
            android:label="MarqueeTextViewActivity" />
        <activity
            android:name=".viewslide.ViewSlideActivity"
            android:label="ViewSlideActivity" />
        <activity
            android:name=".viewslide.DragActivity"
            android:label="DragActivity" />
        <activity
            android:name=".elasticslide.ElasticSlideActivity"
            android:label="ElasticSlideActivity" />
        <activity android:name=".eventdispatch.EventDispatchActivity" />
        <activity android:name=".eventdispatch.ViewEventDispatchActivity"
            android:label="ViewEventDispatchActivity"/>
        <activity android:name=".eventdispatch.EventDispatchInterviewActivity" />
        <activity android:name=".slideconflict.type1.external.SlideConflictExActivity" />
        <activity android:name=".slideconflict.type1.internal.SlideConflictInActivity" />
    </application>

</manifest>